<swiper [config]="config">
  <div class="swiper-wrapper">
    <div
      *ngFor="let movie of movies"
      class="swiper-slide"
      [ngStyle]="{
        'background-size': 'cover',
        'background-image':
          'url(' + (movie.poster_path | poster: 'original') + ')',
          'height': imageHeight
      }"
    >
      <div class="movie-description">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.overview | slice: 0:130 }}...</p>
        <div class="see-more">
          <ng-rating-bar
          [value]="movie.vote_average"
          [ratingCount]="10"
          styles="{  fontSize: '14px' }"
          colorActive="yellow"
          disabled="true"
        ></ng-rating-bar>
         <button
            mat-raised-button
            color="primary"
            [routerLink]="['/detail', movie.id]"
          >
            See More
          </button>
         </div>
      </div>
    </div>
  </div>
  <div *ngIf="config.pagination" class="swiper-pagination"></div>
  <div *ngIf="config.navigation" class="swiper-button-next"></div>
  <div *ngIf="config.navigation" class="swiper-button-prev"></div>
</swiper>
