swiper {
  // height: 85vh;
  width: 100%;
  .swiper-wrapper{
    .swiper-slide{
      .img-thumbnail {
        max-width: 100%;
        height: auto;
      }
      .movie-description {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        bottom: 0;
        padding: 5px 30px;
        position: absolute;
        width: 100%;
        h3{
          font-weight: 700;
        }
        p{
          padding-right: 2.5rem;
        }
        .see-more {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0 2.5rem 1rem 0;
          star-rating{
            width: 70%;
          }
        }
      }
    }
  }
  .swiper-button-prev, .swiper-button-next {
    color: white;
  }
  .swiper-pagination-bullet, .swiper-pagination-bullet-active{
    background: white;
  }
}

