
.movie-container{
  padding: 0 3rem;

  .mat-display-2{
    margin: 1rem;
    text-align: center;
  }
  .movie-detail{
    display: flex;
    background-color: #393939;
    img{
      width: 60%;
    }
  }

  .example-action-buttons {
    padding-bottom: 20px;
  }

  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: flex-end;
  }

  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
}
