.movie-container {
  padding: 0 3rem;

  .mat-display-2 {
    margin: 1rem;
    text-align: center;
  }
  .movie-detail {
    display: flex;
    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  app-accordion {
    max-width: 40%;
  }
}
