<div class="movie-container" *ngIf="movieTmdb && movieOmdb">
  <div class="mat-display-2">{{ movieTmdb.title }} - ( {{ movieOmdb.Year }} )</div>
  <div class="movie-detail">
    <img [src]="movieTmdb.backdrop_path | poster: 'original'" alt="" />
    <app-accordion
    [movieTmdb]="movieTmdb"
    [movieOmdb]="movieOmdb"
    [genres]="genres"
  ></app-accordion>
  </div>
  <div>
    <app-credits [cast]="castTmdb"></app-credits>
    <app-videos *ngIf="videosTmdb.length > 0" [videos]="videosTmdb"></app-videos>
  </div>
</div>
