mat-accordion{

  .align-oscars{
    display: flex;
    flex-direction: row;
    .oscars{
      width: 1.5rem;
      height: 3rem;
    }
  }
  .award-container{
    display: flex;
    justify-content: space-between;
  }
}
